.bg-base-200 {
    background-color: transparent !important;
}

.custom-textarea { 
    width: 80%;
    /* border: 1px solid black; */
  }

  .spinner-position-carInfo img{
    margin-top: 25px;
}


/* Responsive */
@media (max-width: 1024px) {
    
    
  }
  @media (max-width: 768px) {
    
  }
  @media (max-width: 425px) {
   
  }
