.card-img{
    width: 200px;
    height: 180px;
    
}
.card-area {
    margin: 0px 10px;
}

.spinner-position img{
    margin-left: 300%;
}


/* Responsive */
@media (max-width: 1024px) {
    .spinner-position img{
        margin-left: 200%;
    }
    
  }
  @media (max-width: 768px) {
    .spinner-position img{
        margin-left: 120%;
    }
  }
  @media (max-width: 425px) {
    .spinner-position img{
        margin-left: 0%;
    }
  }
