.card-img{
    width: 200px;
    height: 180px;
    
}
.spinner-position img{
    margin-left: 300%;
}

.card-area {
    margin: 0px 10px;
}


/* Responsive */
@media (max-width: 1024px) {
    .card-area {
        margin-left: 10px;
        margin-right: 10px;
    }
    
  }
  @media (max-width: 320px) {
    
  }
